.bio-container {
  margin: 60px auto 20px;
  text-align: center;
  @media screen and(max-width: 1368px) {
    margin: 35px auto 15px;
  }

  @media screen and(max-width: 1024px) {
    display: none;
  }

  h2 {
    margin-bottom: 7px;
    font-size: 170%;
    @media screen and(max-width: 1368px) {
      font-size: 150%;
    }
  }
}

.profile-headshot {
  width: 160px;
  border-radius: 6px;
  border: 1px solid #849fb6;
  margin-bottom: 20px;
  @media screen and(max-width: 1368px) {
    width: 140px;
    margin-bottom: 10px;
  }
}
