.navbar {
  position: fixed;
  width: 80%;
  left: 20%;
  top: 0;
  z-index: 1;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 12px;
  background: rgba(255, 255, 255, 0);

  h3 {
    font-size: 250%;
    font-weight: 100;
    display: inline;
  }
}

.navbar-link {
  text-decoration: none;
  color: initial;
}
