.sidebar-positioner {
  width: 20%;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to right, #305f85, #eaeaea);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  color: #222f3e;
}

hr.hr-styled {
  margin: 15px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  transform: rotate(-5deg);
}
