@import "../../../css/export.less";

// ---------------------
// MENU ITEMS WRAPPER
// ---------------------
.menu-items-container {
  @media screen and(max-width: 1024px) {
    position: absolute;
    height: 180px;
    top: 45px;
    width: 100%;
    transition: top 0.5s;
  }
}

.hide {
  @media screen and (max-width: 1024px) {
    top: -180px;
  }
}

.menu-item {
  margin: 9px 0;
  padding-left: 15%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @font-color-light;
  font-size: 140%;
  transition: all 0.3s;
  @media screen and(max-width: 1368px) {
    margin: 5px 0;
    font-size: 125%;
    min-height: 45px;
  }
  @media screen and(max-width: 1024px) {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 0;
    margin: 0;
    color: @font-color-dark;
    font-weight: 800;
    font-size: 105%;
  }

  &:hover {
    @media screen and(min-width: 1024px) {
      background-color: @font-color-light;
      color: initial;
    }
  }

  &.selected {
    @media screen and(min-width: 1024px) {
      background-color: @font-color-light;
      color: initial;
    }
  }
}

.home {
  @media screen and(max-width: 1024px) {
    background-image: linear-gradient(#eaeaead5, #c6d6e7d5);
  }
}

.aboutme {
  @media screen and(max-width: 1024px) {
    background-color: #b1c5dcd5;
  }
}

.portfolio {
  @media screen and(max-width: 1024px) {
    background-color: #99b3d2d5;
  }
}

.contact {
  @media screen and(max-width: 1024px) {
    background-color: #82a2c7d5;
  }
}

// ---------------------
// SOCIAL ICONS WRAPPER
// ---------------------
.social-links-wrapper {
  margin: 40px 15%;
  @media screen and(max-width: 1368px) {
    margin: 25px 15%;
  }
  @media screen and(max-width: 1024px) {
    display: none;
  }
}

.social-icon {
  color: #2c3e50;
  font-size: 150%;
  padding: 12px;
  margin-right: 20px;
  border: 1px solid #2c3e50;
  border-radius: 50px;
  transition: all 0.2s ease-in;
  @media screen and(max-width: 1368px) {
    font-size: 125%;
  }

  &:hover {
    cursor: pointer;
    background: @font-color-light;
    color: initial;
    border: 1px solid #5c7a9c;
  }
}
