@import "../../../css/export.less";

.about-container {
  margin: 120px auto;
  display: inline-block;
  width: 75%;
  padding: 35px 45px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;

  @media screen and(max-width: 1368px) {
    margin: 100px auto;
  }
  @media screen and(max-width: 1024px) {
    margin: 80px auto;
    width: 85%;
  }
  @media screen and(max-width: 480px) {
    margin: 45px auto 0;
    width: 85%;
    padding: 20px;
  }

  h2,
  h3 {
    color: @font-color-light;
  }

  h2 {
    @media screen and(max-width: 1024px) {
      font-size: 120%;
    }
  }

  h3 {
    font-weight: 100;
    @media screen and(max-width: 1024px) {
      font-size: 95%;
    }
  }
}

.first-letter {
  font-size: 35px;
  line-height: 25px;
}

.header-container {
  text-align: center;
  padding: 5px 0 21px;
  letter-spacing: 5px;
  @media screen and(max-width: 1024px) {
    padding: 5px 0 10px;
  }

  hr.about-hr {
    margin: 15px auto 0;
    width: 15%;
    height: 3px;
    border: none;
    background-image: linear-gradient(
      to right,
      @attention-color,
      @attention-color
    );
    @media screen and(max-width: 1024px) {
      width: 40%;
    }
  }
}
